{% extends '_form.html' %}

{% block content %}
        {% for pet in pets %}
        <div>
            {% if pet.photo_url %}
            <img src="{{ pet.photo_url() }}" alt="{{ pet.name }}">
            {% endif %}
            <a href="/{{ pet.id }}">{{ pet.name }}</a>
            {% if pet.available %} <b>is available!</b> {% endif %}
        </div>
        {% else %}
        <div>
            <p>Not available</p>
        </div>
        {% endfor %}
        </div>
        <a href="/add">Add a Pet</a>
{% endblock %}
